body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #24a2b3;
    color: white;
    font-family: sans-serif;
}

body {
    background: linear-gradient(#24a2b3, #22d47b);
}

#header-div {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.selection-button {
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 150px;
    padding: 15px;
    border-radius: 6px;
}

.selection-button:hover {
    background-color: teal;
    cursor: pointer;
}

.select-paragraph {
    font-size: 2.4rem;
    text-align: center;
}

#buttons-container {
    width: 500px;
    margin: auto;
}

#player-image {
    width: 300px;
    height: auto;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: ease-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}

#cpu-image {
    width: 300px;
    height: auto;
    transform: scaleX(-1);
}

#game-container {
    display: flex;
    justify-content: space-between;
}

.game-div {
    width: 50%;
    height: auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

figcaption {
    font-size: 2rem;
}

#score-container {
    text-align: center;
    font-weight: 600;
    width: 100px;
    margin: auto;
    font-size: 2.4rem;
    position: absolute;
    top: 410px;
    left: 45.5%;
}

#results {
    font-size: 4rem;
    width: 350px;
    margin: 30px auto;
}